<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>zombie01.png</key>
		<dict>
			<key>x</key>
			<real>34</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>zombie02.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>zombie03.png</key>
		<dict>
			<key>x</key>
			<real>168</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>zombie04.png</key>
		<dict>
			<key>x</key>
			<real>68</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>zombie05.png</key>
		<dict>
			<key>x</key>
			<real>136</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>zombie06.png</key>
		<dict>
			<key>x</key>
			<real>102</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
</dict>
</plist>